.astro-code {
  background-color: var(--card) !important;
  border: 1px solid var(--separator);
}

.astro-code,
.astro-code span {
  color: var(--shiki-light);
  font-style: var(--shiki-light-font-style);
  font-weight: var(--shiki-light-font-weight);
  text-decoration: var(--shiki-light-text-decoration);
}

:root[data-theme="dark"] .astro-code,
:root[data-theme="dark"] .astro-code span {
  color: var(--shiki-dark);
  font-style: var(--shiki-dark-font-style);
  font-weight: var(--shiki-dark-font-weight);
  text-decoration: var(--shiki-dark-text-decoration);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) .astro-code,
  :root:not([data-theme="light"]) .astro-code span {
    color: var(--shiki-dark);
    font-style: var(--shiki-dark-font-style);
    font-weight: var(--shiki-dark-font-weight);
    text-decoration: var(--shiki-dark-text-decoration);
  }
}
